.header-wraper {
  margin: 0.7rem 0;
  display: flex;
}
.header-wraper .carousel-wraper {
  flex-basis: 68%;
  position: relative;
}
.header-wraper .carousel-wraper .carousel-hero {
  height: 350px;
  flex: 1;
  background-color: red;
  background-size: 100% 100%;
}
.header-wraper .carousel-wraper .carousel-hero-content {
  padding: 2.5rem;
  color: var(--white);
  width: 70%;
}
.header-wraper .carousel-wraper h1 {
  color: var(--white);
  font-size: 2.5rem;
}
.header-wraper .carousel-wraper .hHJTFD {
  margin: 0 !important;
}
.header-wraper .carousel-wraper .hHJTFD {
  background: none !important;
  background-color: transparent !important;
}
.header-wraper .carousel-wraper .sc-bczRLJ {
  padding: 0 !important;
  position: absolute;
  font-size: 1.2rem !important;
  top: auto;
  z-index: 30 !important;
}
.header-wraper .carousel-wraper .rec-arrow-left {
  left: 1rem;
}
.header-wraper .carousel-wraper .rec-arrow-right {
  right: 1rem;
}
.header-wraper .carousel-wraper .rec-pagination {
  display: none !important;
}
.header-wraper .header-categories {
  margin-left: 0.6rem;
  flex: 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.header-wraper .header-categories .catergory-card {
  background-color: var(--white);
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.header-wraper .header-categories span {
  padding: 0.7rem;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.21));
  position: absolute;
  top: 0;
  left: 0;
}

.feautures-wraper {
  padding: 1rem;
  background-color: var(--white);
}
.feautures-wraper .feauture-card .feauture-card-icon {
  margin-top: -0.6rem;
  margin-right: 0.7rem;
  font-size: 3rem;
}

.seller-container {
  margin-bottom: 1rem;
}
.seller-container .seller-image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--blue-bg);
}
.seller-container .seller-text {
  margin-left: 0.7rem;
  flex: 1;
}

@media screen and (max-width: 950px) {
  .header-wraper {
    margin: 0;
    height: auto;
    display: block;
  }
  .header-wraper .carousel-wraper {
    flex-basis: 100%;
  }
  .header-wraper .carousel-wraper .carousel-hero {
    height: 28vh;
    flex: 1;
  }
  .header-wraper .carousel-wraper .carousel-hero-content {
    padding: 1rem;
    width: 90%;
  }
  .header-wraper .carousel-wraper h1 {
    color: var(--white);
    font-size: 1.7rem;
    line-height: 35px;
  }
  .header-wraper .carousel-wraper .sc-bczRLJ {
    display: none !important;
  }
  .header-wraper .carousel-wraper .rec-pagination {
    display: flex !important;
    position: absolute;
    bottom: 0;
  }
  .header-wraper .hero-wraper {
    width: 100%;
    height: 30vh;
  }
  .header-wraper .hero-wraper .hero-content {
    padding: 1.5rem;
    width: 100%;
  }
  .header-wraper .hero-wraper h1 {
    font-size: 1.9rem;
  }
  .header-wraper .header-categories {
    margin: 0.7rem 0;
    padding: 0 0.5rem;
    width: 100%;
    grid-gap: 6px;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-wraper .header-categories .catergory-card {
    height: 80px;
  }
  .header-wraper .header-categories span {
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .feautures-wraper {
    margin: 0 0.5rem 0.7rem 0.5rem;
    padding: 0.5rem;
  }
  .feautures-wraper .feauture-card {
    flex-direction: column;
    justify-content: center;
  }
  .feautures-wraper .feauture-card .feauture-card-icon {
    margin: 0 0 0.4rem 0;
    font-size: 1.5rem;
  }
  .feautures-wraper .feauture-card .h5 {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=home.css.map */