@font-face {
    font-family: 'Staatliches';
    src: url('../assets/fonts/Staatliches-Regular.ttf');
}
@font-face {
    font-family: 'Southmore';
    src: url('../assets/fonts/Southmore.ttf');
}
@font-face {
    font-family: 'SignikaNegative';
    src: url('../assets/fonts/SignikaNegative-SemiBold.ttf');
}
@font-face {
    font-family: 'SignikaNegative-Light';
    src: url('../assets/fonts/SignikaNegative-Light.ttf');
}

:root{
    --green:#dd7d0e;
    --dark:#6b6b6b;
    --white:#fff;
    --mrg-top:2rem;
}

body{
    color: rgb(128, 126, 126);
    background-color: rgb(230, 230, 230);
}

p, span, i{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: rgb(121, 121, 121);
}

.elips-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.elips-text.l2 {
    -webkit-line-clamp: 2;
}
.elips-text.l3 {
    -webkit-line-clamp: 3;
}
img{
    height:100%;
    width: 100%;
}

.my-container{
    padding: 0 5%;
}

.app-content{
    margin-top: .6rem;
    .app-content-sidebar{
        flex-basis: 24%;
        .sidebar-content{
            background-color: var(--white);
            .sidebar-content-header{
                padding:.5rem 1rem;
                background-color: var(--dark);
            }
            .sidebar-body{
                padding:1rem;
            }
        }
    }
    .app-content-main{
        margin-left: .6rem;
        flex:1;
        // background-color: var(--white);
    }
}

.section-container{
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--white);
}
.section-header{
    margin-bottom: 1rem;
}

iframe{
    display:none !important;
}
// .loader-container{
//     width:100%;
//     height:100%;
//     background-image: linear-gradient(160 deg, rgba(29, 29, 29, 0.5), rgba(90, 90, 90, 0.5));
//     position:absolute;
//     top:0;
//     left:0;
// }

.lg-screen{
    display: block !important;
}
.sm-screen, .bottom-navbar{
    display: none;
}
@media screen and (max-width:950px) {
    .lg-screen, .nav-search-wraper, .cart-wraper,
    .app-content .app-content-sidebar, 
    .nav-top-content, .categories-container, .dashboard-link, .links-container{
        display: none !important;
    }
    .sm-screen{
        display: block !important;
    }
    .mobile-menu-wraper{
        display:flex;
        align-items: center;
    }
    .my-container{
        padding: 0;
        width:100%;
    }
    .app-wraper{
        margin-bottom: 4rem;
    }

    .app-content{
        margin: 0;
        .app-content-main{
            padding: 0 .5rem;
            margin: 0;
        }
    }

    
    .section-container{
        padding: .6rem;
        margin-bottom: 1rem;
        background-color: var(--white);
    }
    .section-header{
        margin-bottom: 1rem;
    }
    
}