@font-face {
    font-family: 'Staatliches';
    src: url('../assets/fonts/Staatliches-Regular.ttf');
}
@font-face {
    font-family: 'Southmore';
    src: url('../assets/fonts/Southmore.ttf');
}
@font-face {
    font-family: 'SignikaNegative';
    src: url('../assets/fonts/SignikaNegative-SemiBold.ttf');
}
@font-face {
    font-family: 'SignikaNegative-Light';
    src: url('../assets/fonts/SignikaNegative-Light.ttf');
}

:root{
    --green:#25da01;
    --dark:#494949;
    --white:#fff;
    --mrg-top:2rem;
    --gradient-bg:linear-gradient(130deg, rgb(0, 255, 0), rgb(220, 249, 22));
}

body{
    color: rgb(128, 126, 126);
    background-color: rgb(230, 230, 230);
    scroll-behavior: smooth;
}

p, span, i{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: rgb(121, 121, 121);
    font-family:'Staatliches';

}

.elips-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.elips-text.l2 {
    -webkit-line-clamp: 2;
}
.elips-text.l3 {
    -webkit-line-clamp: 3;
}
img{
    height:100%;
    width: 100%;
}

.my-btn{
    background-image: var(--gradient-bg);
    text-decoration: none;
}

.my-container{
    padding: 0 5%;
}

.app-content{
    margin-top: .6rem;
    .app-content-sidebar{
        flex-basis: 24%;
        .sidebar-content{
            background-color: var(--white);
            .sidebar-content-header{
                padding:.5rem 1rem;
                background-color: var(--dark);
            }
            .sidebar-body{
                padding:1rem;
            }
        }
    }
    .app-content-main{
        margin-left: .6rem;
        flex:1;
        // background-color: var(--white);
    }
}

.section-container{
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--white);
}
.section-header{
    margin-bottom: 1rem;
}

iframe{
    display:none !important;
}


//  start of footer style
.footer-wraper{
    padding:2rem 5%;
    color:var(--white);
    background-color: var(--dark);
    .footer-top{
        margin: 0 auto 2.5rem auto;
        width:50%;
    }
    .footer-botttom{
        .sebcribe-container{
            padding-right: 4rem;
            flex:2;
            input, button{
                padding:0 .7rem;
                height:3rem;
                border:none;
            }
            input{
                flex:1;
            }
            button{
                background-color: var(--green);
            }
        }
        .footer-content{
            flex:1;
        }
        .footer-list{
            margin-top: .7rem;
        }
    }
    .footer-policy{
        margin:0 auto;
        width: 35%;
        justify-content: space-evenly;
        span{
            margin: 0 1rem;
        }
    }

    .footer-list-icon{
        margin-right: .7rem;
        font-size:1.3rem;
    }
    h5{
        color:var(--white);
    }
}

.lg-screen{
    display: block !important;
}
.sm-screen, .bottom-navbar{
    display: none;
}
@media screen and (max-width:950px) {
    .lg-screen, .nav-search-wraper, .cart-wraper,
    .app-content .app-content-sidebar, 
    .nav-top-content, .categories-container, .dashboard-link, .links-container{
        display: none !important;
    }
    .sm-screen{
        display: block !important;
    }
    .mobile-menu-wraper{
        display:flex;
        align-items: center;
    }
    .my-container{
        padding: 0;
        margin:0;
        width:100%;
    }
    .app-wraper{
        margin:0;
        width:100%;
        margin-bottom: 4rem;
    }

    .app-content{
        margin: 0;
        width:100%;
        .app-content-main{
            padding: 0 .5rem;
            margin: 0;
            width:100%;
        }
    }

    
    .section-container{
        width:100%;
        padding: .6rem;
        margin:0;
        margin-bottom: 1rem;
        background-color: var(--white);
    }
    .section-header{
        margin-bottom: 1rem;
    }
    
    //  start of footer style
    .footer-wraper{
        padding:1rem;
        .footer-top{
            margin: 0 auto 2.5rem auto;
            width:100%;
        }
        .footer-botttom{
            flex-direction: column;
            .sebcribe-container{
                padding: 0;
                width:100%;
                input, button{
                    padding:0 .7rem;
                    height:3rem;
                    border:none;
                }
                input{
                    flex:1;
                }
                button{
                    background-color: var(--green);
                }
            }
            .footer-content{
                width:100%;
                margin-top: 2rem;
                .social-media{
                    display: flex;
                    justify-content: space-between;
                }
            }
            
        }
        .footer-policy{
            padding-top: 1rem;
            width: 100%;
            border-top:2px solid #ccc;
            justify-content: space-between;
            span{
                margin: 0;
            }
        }
        .footer-list-icon{
            margin: 0;
            font-size:1.8rem;
        }
        .footer-list-icon.contact{
            margin-right: .6rem;
        }
       
        h5{
            margin-bottom:.6rem;
        }
    }
}