.navbar-wraper {
  width: 100%;
  color: var(--white);
  background-color: #6b6b6b;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar-wraper .nav-link {
  color: var(--white);
}
.navbar-wraper .nav-icon {
  font-size: 1.4rem;
}
.navbar-wraper .nav-btn {
  background-color: var(--yellow);
}

.nav-top-content {
  padding: 0 5%;
  border-bottom: 2px solid #807d7d;
}
.nav-top-content .lang-img {
  width: 25px !important;
  height: 25px !important;
}
.nav-top-content .lang-img.xl {
  width: 20px !important;
  height: 20px !important;
}
.nav-top-content .nav-link {
  padding: 0.5rem;
}

.nav-center-content {
  padding: 1.5rem 5%;
}
.nav-center-content .logo-wraper img {
  height: 4rem;
}
.nav-center-content .logo-wraper .logo-text {
  flex: 1;
  font-size: 1.8rem;
  font-weight: 700;
}
.nav-center-content .nav-search-wraper {
  padding: 0 4%;
  flex: 1;
}
.nav-center-content .cart-wraper .nav-link {
  padding: 0.5rem;
}
.nav-center-content .cart-wraper .cart-icon-box {
  padding: 0.3rem 0.5rem 0.3rem 0.3rem;
  background-color: var(--yellow);
}
.nav-center-content .cart-wraper .cart-icon-box .nav-icon {
  font-size: 1.9rem;
}
.nav-center-content .cart-wraper .cart-icon-box .cart-text {
  margin-left: 0.6rem !important;
}

.buttons-container .nav-link {
  margin-left: 0.5rem;
  padding: 0.3rem 0.6rem !important;
}

.search-container {
  width: 100%;
  background-color: var(--white);
}
.search-container .dropdown-search-wraper {
  border-right: 1px solid #ccc;
}
.search-container .search-box {
  flex: 1;
  color: inherit;
  text-decoration: none;
}
.search-container .search-input {
  flex: 1;
}
.search-container input, .search-container button {
  padding: 0 0.6rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  outline: none;
}
.search-container input {
  width: 100%;
}
.search-container button {
  color: var(--white);
  background-color: var(--yellow);
}
.search-container .dropdown-toggle.nav-link {
  color: #333;
  text-decoration: none;
}

.nav-bottom-content {
  padding: 0.4rem 5%;
  border-radius: 5px;
}

@media screen and (max-width: 950px) {
  .navbar-wraper {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .nav-center-content {
    padding: 0.5rem;
    height: 3.5rem;
  }
  .nav-center-content .logo-wraper img {
    height: 2.8rem;
  }
  .nav-center-content .logo-wraper .logo-text {
    display: none;
  }
  .nav-center-content .cart-wraper .nav-link {
    padding: 0.5rem;
  }
  .nav-center-content .cart-wraper .cart-icon-box {
    padding: 0;
    background-color: transparent;
  }
  .nav-center-content .cart-wraper .cart-icon-box .nav-icon {
    font-size: 1.7rem;
  }

  .buttons-container .nav-link {
    margin-left: 0.5rem;
    padding: 0.3rem 0.4rem !important;
  }

  .bottom-navbar {
    padding: 0 0.5rem;
    height: 4rem;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    background-color: var(--white);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
  }
  .bottom-navbar .nav-link-wraper {
    text-decoration: none;
  }
  .bottom-navbar .nav-link-wraper .icon {
    color: var(--blue-bg);
    font-size: 1.5rem;
  }
  .bottom-navbar .nav-link-wraper span {
    font-size: 0.8rem;
  }

  .search-container {
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    width: 100%;
    background-color: transparent;
  }
  .search-container .dropdown-search-wraper {
    background-color: var(--gray);
    border-right: 1px solid #ccc;
  }
  .search-container .dropdown-search-wraper a.dropdown-toggle.nav-link {
    font-size: 15px;
  }
  .search-container .search-box {
    flex: 1;
    color: inherit;
    text-decoration: none;
    background-color: var(--gray);
  }
  .search-container input, .search-container button {
    padding: 0;
    height: auto;
    background-color: transparent;
  }
  .search-container input {
    padding: 0.5rem;
    height: auto;
  }
  .search-container button {
    padding: 0.5rem 1rem;
    color: var(--yellow);
    background-color: transparent;
  }
  .search-container .dropdown-toggle.nav-link {
    color: #333;
    text-decoration: none;
  }
}/*# sourceMappingURL=navbar.css.map */