

.user-account-content{
    background-color: var(--white);
}
.user-account-profile{
    padding:1rem;
    background-color: var(--dark);
    .profile-image{
        width:70px;
        height:70px;
        overflow: hidden;
        border-radius: 50%;
    }
    .profile-text{
        padding-left: .6rem;
        flex:1;
    }
}

.user-account-nav{
    padding:1rem;
    .account-links-wraper{
        padding:.4rem;
        display:flex;
        align-items: center;
    }
    .sidebar-nav-icon{
        font-size: 1.8rem;
    }
    .nav-link{
        color: inherit;
    }
}
.user-account-header{
    margin-bottom: 1rem;
}


@media screen and (max-width:950px){
    .account-section{
        margin-top: .6rem !important;
    }
    .user-account-profile{
        margin: .5rem 0;
        padding:.4rem;
        background-color: var(--white);
        .profile-image{
            width:60px;
            height:60px;
        }
        .profile-text{
            padding-left: .6rem;
        }
    }

    .user-account-nav{
        margin: .5rem 0;
        display:grid;
        // grid-gap: 0;
        background-color: var(--white);
        grid-template-columns: repeat(3, 1fr);
        .account-links-wraper{
            padding:.7rem 0;
            flex-direction: column;
        }
        .sidebar-nav-icon{
            color: var(--green);
            font-size: 1.9rem;
            opacity:.7;
        }
    }
    .badge-wraper{
        position: relative;
        .badge-card{
            height:22px;
            width:22px;
            overflow: hidden;
            border-radius: 50%;
            background-color: red;
            font-size: .7rem;
            display:flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            position:absolute;
            top:0;
            right: 15px;
        }
    }
    .user-account-header{
        padding: 0 .5rem;
        margin-bottom: 1rem;
    }

    .back-btn{
        margin-right: 2rem;
    }
}